.espacamento-topo {
  margin-top: 20px;
}

.vermelho {
  color: red;
  font-size: 20px;
}

.verde {
  color: green;
  font-size: 20px;
}

.azul {
  color: blue;
  font-size: 20px;
}

.amarelo {
  color: yellow;
  font-size: 20px;
}

.laranja {
  color: orange;
  font-size: 20px;
}
